root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,mjs,cjs,json,css,scss,html,svg,md,txt,csv,yml,yaml,sh}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{ps1,bat,cmd}]
end_of_line = crlf

[*.ps1]
indent_style = space
indent_size = 2
